:root {
  --primary: #00E1FB;
  --secondary: #1A545A;
  --background: #0F1D22;
  --background-second: #152A31;
  --gradient: #2baab8c9;
  --gradient-second: #152a31b2;
  --text: #D2FAFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  background: radial-gradient(circle at 80% 55%, var(--gradient)-10%, var(--gradient-second) 40%);
  background-color: var(--background)
}

h1,
h2,
h3 {
  font: 2rem 'audiowide', sans-serif;
}

a,
li,
p {
  list-style: none;
  text-decoration: none;
  font: 1rem 'orbitron', sans-serif;
  color: var(--text)
}

/*OPENING ANIMATION*/
.openingScreen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  background-color: var(--background);
  animation: exit 5s both;
  display: none;
}

.openingScreen-logos {
  width: 400px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: exit-2 4s both;
}

.openingScreen-logos img {
  width: 150px;
  display: block;
  margin-inline: auto;
}

.bar {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  animation: pulse 1.5s both;
}

.bar-line {
  width: 30%;
  height: 8px;
  border-radius: 2px;
  background-color: var(--text);
  box-shadow: 0px 0px 10px var(--primary);
}

/*HEADER & MOBILE MENU*/
/*header*/
header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 6rem;
}

header #logos {
  width: 200px;
}

header .navigation,
header .navigation ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navigation ul li a:hover {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}

.orderNow-button {
  padding: 0.5rem;
  text-align: center;
  font: 1rem 'orbitron', sans-serif;
  border: none;
  border-radius: 5px;
  background-color: var(--primary);
  transition: background-color 0.3s;
}

.orderNow-button:hover {
  color: var(--primary);
  padding: 6px;
  border: 2px solid var(--primary);
  background-color: transparent;
  transition: background-color 0.3s;
}

header #menuIcon {
  display: none;
}

/*mobile menu*/
#menu {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  right: 0;
  padding: 1rem;
  background-color: var(--background-second);
  box-shadow: 0 0 50px 10px var(--background);
  animation: slide 0.5s;
  display: none;
}

#menuIcon,
#closeIcon {
  width: 30px;
}

#menuIcon:hover,
#closeIcon:hover {
  cursor: pointer;
}

#menu .navigation ul li {
  margin: 2rem;
  text-align: center;
}

#menu button {
  display: block;
  margin-top: 5rem;
  margin-inline: auto;
}

#menu #logos {
  display: block;
  width: 150px;
  margin: 8rem auto;
}


/*HOME*/
.container{
  margin-inline: 6rem
}

.home {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  padding-block: 4rem
}

.home #title {
  height: 400px;
}

.home #home-image {
  height: 415px;
}

/*ABOUT*/
.about{
  display: flex;
  box-shadow: 0px 0px 50px 5px var(--background);
  background-color: var(--background-second);
  position: relative;
}
.about img{
  width: 40vw;
  display: none;
}
.about img.visible{
  display: block;
}
.carousel{
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
.carousel input{
  display: none;
}
.carousel label{
  width: 20px;
  height: 40px;
  background-color: red;
}
.carousel input:checked + label{
  background-color: blue;
}
.carousel-images{
  width: 40vw;
  height: 60vh;
  background-image: url(assets/slider-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0px 15px 15px 0px;
  transition: all 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.about .text{
  width: 60vw;
  padding: 2rem;
}
.text h3{
  color: var(--primary);
}

/*RESPONSIVE*/
@media screen and (max-width: 375px) {
  html body{
    background: radial-gradient(circle at 50% 25%, var(--gradient), var(--gradient-second) 30%);
    background-color: var(--background);
  }
  header .navigation,
  header #logos {
    display: none;
  }

  header #menuIcon {
    display: block;
    margin-left: auto;
  }

  #menu {
    display: none;
  }
  section.home{
    height: 90vh;
    padding: 0 0 4rem 0;
    justify-content: center;
  }
  .home img#title{
    width: 250px;
    height: auto;
  }
  .home img#home-image{
    width: 200px;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  body{
    background: radial-gradient(circle at 50% 30%, var(--gradient), var(--gradient-second) 40%);
    background-color: var(--background);
  }
  header {
    padding: 2rem;
  }

  header #logos {
    width: 150px;
  }

  header .navigation,
  header .navigation ul {
    gap: 1rem;
  }
  .container{
    margin-inline: 2rem
  }
  .home{
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-block: 1rem;
    gap: 1rem;
  }
  .home #title {
    width: 400px;
    height: auto;
    order: 2;
  }
  .home #home-image {
    width: 250px;
    height: auto;
    order: 1;
  }
}





/*ANIMATIONS*/
/*@keyframes exit{
  75%{display: block; opacity: 1;}
  100%{display: none; opacity: 0;}
}
@keyframes exit-2{
  0%{opacity: 0;}
  75%{opacity: 1;}
  100%{opacity: 0;}
}

@keyframes pulse{
  60%{opacity: 1}
  65%{opacity: 0}
  70%{opacity: 1}
  75%{opacity: 0}
  100%{opacity: 1}
}
@keyframes slide{
  0%{transform: translateX(100px);}
  100%{transform: translateX(0);}
}*/